<h1>Welcome to VELP</h1>
<h3>This is social network interactive app similar to yelp with video streaming and pictures of venues to see how the locations looks like live</h3>
<p>Each person will have a profile where othe people can view location the person that visited</p>

